<a href="https://colab.research.google.com/github/chekulhanseim/Desarrollo-de-Aplicaciones-NET/blob/master/Python/Contabilidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reto de Empresariales DAM 2
[link text](https://docs.google.com/document/d/1lmNTI8bZZQamzYbagSYVc8KHP26NYLYloKpGW3vIr1w/)

In [1]:
class assets:
  def __init__(self, bank, debtors):
    self.bank = bank
    self.debtors = debtors

  def TotalAssets(self):
    return self.bank + self.debtors

class liabilities:
  def __init__(self, loans, creditors):
    self.loans = loans
    self.creditors = creditors

  def TotalLiabilities(self):
    return self.loans + self.creditors

class equity:
  def __init__(self, equity):
    self.equity = equity

assets2019 = assets(200, 50)
liabilities2019 = liabilities(50, 100)
equity2019 = equity(100)

print("Total Equity")
print(assets2019.TotalAssets() - liabilities2019.TotalLiabilities())

Total Equity
100

Pandas actividades adicionales

**Paso 1:** Importar datos -  se puede usar tambien:
*from google.colab import files*
*files.upload() *

OJO: Al subir el archivo, he cambiado el nombre del archivo manualmente.

In [3]:
!wget https://www.ecb.europa.eu/pub/annual/balance/shared/data/Annual%20consolidated%20balance%20sheet%20of%20the%20Eurosystem.csv?1999_2018 -P "/content/"

--2020-01-27 09:29:18--  https://www.ecb.europa.eu/pub/annual/balance/shared/data/Annual%20consolidated%20balance%20sheet%20of%20the%20Eurosystem.csv?1999_2018
Resolving www.ecb.europa.eu (www.ecb.europa.eu)... 185.5.82.138
Connecting to www.ecb.europa.eu (www.ecb.europa.eu)|185.5.82.138|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘/content/Annual consolidated balance sheet of the Eurosystem.csv?1999_2018’

Annual consolidated     [ <=>                ]   9.59K  --.-KB/s    in 0s

2020-01-27 09:29:18 (274 MB/s) - ‘/content/Annual consolidated balance sheet of the Eurosystem.csv?1999_2018’ saved [9821]

**Paso 2**: Usar pandas para manipular los datos

OJO: 
skiprows (cabacera)

1.   skiprows (cabacera)
2.   encoding atributos ya que es una hoja de Excel
3.   decimal - los valores no son números

In [22]:
import pandas as pd
data = pd.read_csv("/content/Annual consolidated balance sheet of the Eurosystem.csv", skiprows=4, encoding = "latin1", decimal=',')

data.head(10)

                                              Assets  ...  Balance as at 31 December 2018
0                        1 Gold and gold receivables  ...                         389,765
1   2 Claims on non-euro area residents denominat...  ...                         334,369
2                       2.1 Receivables from the IMF  ...                          76,943
3      2.2 Balances with banks and security inves...  ...                         257,426
4   3 Claims on euro area residents denominated i...  ...                          20,499
5   4 Claims on non-euro area residents denominat...  ...                          21,276
6      4.1 Balances with banks, security investme...  ...                          21,276
7      4.2 Claims arising from the credit facilit...  ...                               0
8   5 Lending to euro area credit institutions re...  ...                         734,381
9                    5.1 Main refinancing operations  ...                           9,573

[10 rows x 21 columns]

In [28]:

data.sum(axis=1)
data.sum(axis=0)

Assets                              1 Gold and gold receivables 2 Claims on non-e...
Balance as at\n31 December 1999                                              5574.02
Balance as at\n31 December 2000                                              6683.12
Balance as at\n31 December 2001                                              4977.63
Balance as at\n31 December 2002                                              4137.89
Balance as at\n31 December 2003                                              5798.11
Balance as at\n31 December 2004                                              4900.36
dtype: object